<header class="header">
    <div class="container-header">
        <div class="logo">
        <i class="fa-solid fa-code"></i> <p>Fran</p>
        <i class="fa-sharp fa-solid fa-circle"></i>
    </div>
        
        <i class="fa-solid fa-bars" (click)="abrirNav()"></i>

    <nav class="nav" id="nav">
        <ul>
            <li><a data-scroll-to="home" >Home</a></li>
            <li><a data-scroll-to="about">About</a></li>
            <li><a data-scroll-to="work">Work</a></li>
            <li><a data-scroll-to="contact">Contact</a></li>
        </ul>
        <!-- <button class="idioma">ES</button> -->
    </nav>
    </div>
</header>