<section class="section-home " id="home" >
    <div class="presentation" *ngFor="let misDatos of misDatos">
        <h2>Hola, soy {{misDatos.nombre}} 👋</h2>
        <h1>{{misDatos.ocupacion}} </h1>
    
        <!-- <h3>Ya estoy listo para comenzar a trabajar!</h3> -->
        <!-- <a href="" target="_blank"><button class="button">Curriculum</button></a> -->
        
    </div>
    <div class="profile-img-container">
        <img src="./assets/perfil.jpg"  alt="" class="profile-img">
    </div>
</section>
