


/* section work */
.section-work{
    background:linear-gradient(to bottom, var(--azul-oscuro), var(--azul-claro)) ;
    text-align: center;
    padding: 4rem 2rem 6rem ;
}

.section-work h2{
    margin-bottom: 40px;
    color: white;
    margin-bottom: 4rem;
}

.work-container{
    margin: 0 auto;
    display: flex;
    width:  80%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-work{
    background-color: var(--azul-oscuro);
    width: 400px;
    max-width: 400;
    padding: 1rem .5rem 2rem .5rem;
    margin: 0 auto;
}

.card-work h3, p{
color: white;
margin: 10px 0;
}



.button2 i{
    font-size: 1rem;
}

@media (max-width:1190px){
    .work-container{
        width: 100%;
    }
}
@media (max-width:790px){
    .section-work h2{
        margin-bottom: 20px;
    }
}

/*  */


.imgCardWork{
    width: 91%;
    /* height: 111px; */
}