
/* footer contact */
.section-contact{
    display: flex;
    padding: 4rem 2rem;
    background-color: var(--azul-claro);
    background:linear-gradient(to bottom, var(--azul-oscuro), var( --azul)) ;
    
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.contac-me h3{
    font-size: 2rem;
    color: white;
    margin: 40px 0;
}

.contac-me div p{
    color: white;
}
.contac-me div p i{
    font-size: 1.5rem;
    color: var(--turquesa);
}

.contac-me div  a{
    font-size: 2.5rem;
    color: var(--turquesa);
    cursor: pointer;
    margin: 0 2px;
}


.form{
    padding: 4rem 1rem;
    background-color: var(--azul-oscuro);
    border-radius: 20px;
    width: 25%;
    min-width: 300px;
    border: 1px solid var(--azul-oscuro);
}

.content-input{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px auto;
    gap: 5px;
}
.input-form{
    background-color:var(--azul);
    border: none;
    padding: .2rem 0;
    width: 100%;
    color: white;
    padding: .2rem .2rem;
    border: none;
    border-radius: 3px;
}


.form button{
    position: relative;
    left:  70%;
}
.especial{
    display: none;
}

.form:hover{
    border: 1px solid var(--azul);
}
@media (max-width:790px){
    .section-contact{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .especial{
        display: block;
    }
    .contac-me h3{
        display: none;
    }
    .section-contact h3{
        font-size: 2rem;
        color: white;
        margin: 40px 0;
        transform: translateX(-20px);
    }
    .form{
        margin: 0 auto;
    }
}

.show{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
}

.mensaje-form{
    height: 50px;
}